<div>
        <h3>Listado de Celebridades</h3>

        {{#each this.allCelebrities}}

        <li>{{this.name}} de ocupacion {{this.occupation}} y quien hizo famosa la frase: {{this.catchPhrase}}</li>

        {{/each}}

</div>