<div>

    <h3>Nueva Celebridad</h3>

    <form action="/celebrities/create" method="post">

        <label for="name">Nombre</label>
        <input type="text" name="name">

        <br>

        <label for="occupation">Ocupacion</label>
        <input type="text" name="occupation">

        <br>

        <label for="catchPhrase">Eslogan </label>
        <input type="text" name="catchPhrase">

        <br>

        <button>Agregar</button>

    </form>

    <div>